{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>{% block title %}Auctions{% endblock %}</title>
        {% load static %}
        <script src="https://kit.fontawesome.com/3b36cc7246.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'auctions/styles.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <h1>Auctions</h1>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_listing' %}">Create New Listing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
            <hr>
        </nav>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
