{% extends "auctions/layout.html" %}

{% block body %}

    <!-- <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a> -->

    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="{% url 'register' %}" method="POST">
                            {% csrf_token %}
                            <h3 class="text-center text-primary">Register</h3>
                            {% if message %}
                                <div class="alert alert-info text-center">{{ message }}</div>
                            {% endif %}
                            <div class="form-group">
                                <label for="username" class="text-primary">Username:</label><br>
                                <input class="form-control" autofocus type="text" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="email" class="text-primary">Email Adress:</label><br>
                                <input class="form-control" type="email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-primary">Password:</label><br>
                                <input class="form-control" type="password" name="password" required>
                            </div>
                            <div class="form-group">
                                <label for="confirmation" class="text-primary">Confirm:</label><br>
                                <input class="form-control" type="password" name="confirmation" required>
                            </div>
                            <input class="btn btn-primary" type="submit" value="Register">
                        </form>
                        Already have an account? <a class="text-primary" href="{% url 'login' %}">Log In here.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}